<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993769588638-v8ppoujsmk7bur4ntjugimp809k7p2vk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993769588638-v8ppoujsmk7bur4ntjugimp809k7p2vk</string>
	<key>API_KEY</key>
	<string>AIzaSyCSAyQdP3SSbpfv2oalqh4FKX6uKNRx79Y</string>
	<key>GCM_SENDER_ID</key>
	<string>993769588638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-543c4</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-543c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993769588638:ios:212b14d1edc9ade289b88f</string>
</dict>
</plist>